<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form
            id="login-form"
            class="form"
            action=""
            method="post"
            [formGroup]="loginForm"
            (ngSubmit)="login()"
          >
            <h3 class="text-center text-primary">Login</h3>
            <div class="form-group">
              <label for="email" class="text">Email</label><br />
              <input
                type="text"
                name="email"
                id="email"
                class="form-control"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="password" class="text">Password</label><br />
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div class="form-group submit">
              <button
                type="submit"
                name="submit"
                class="btn btn-primary btn-md"
              >
                Login
              </button>
              <a [routerLink]="['/auth/register']" class="text"
                >Register here</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
