<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            [ngClass]="{
              active: pageTitle === 'Account transactions'
            }"
            >Account transactions</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
